body
{
    background-position: center;
    background-size: cover;
}

.heading
{
    width: 100%
    text-align:left;
    margin-bottom: 5px;

}

.heading h3
{
    display:inline;
    font-size:block;

}

.heading button
{
    float:right;
    border: 3px solid grey;
}
